.idea/
*.iml
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/.terraform/plugins/darwin_amd64/lock.json
infrastructure/terraform/.terraform/plugins/darwin_amd64/terraform-provider-helm_v1.2.3_x4
infrastructure/terraform/.terraform/plugins/darwin_amd64/terraform-provider-kubernetes_v1.11.3_x4
backend/package-lock.json
backend/node_modules/base64-js/base64js.min.js
backend/node_modules/base64-js/index.js
backend/node_modules/base64-js/LICENSE
backend/node_modules/base64-js/package.json
backend/node_modules/base64-js/README.md
backend/node_modules/js-sha256/CHANGELOG.md
backend/node_modules/js-sha256/index.d.ts
backend/node_modules/js-sha256/LICENSE.txt
backend/node_modules/js-sha256/package.json
backend/node_modules/js-sha256/README.md
backend/node_modules/js-sha256/build/sha256.min.js
backend/node_modules/js-sha256/src/sha256.js
backend/node_modules/keycloak-js/bower.json
backend/node_modules/keycloak-js/package.json
backend/node_modules/keycloak-js/dist/keycloak-authz.d.ts
backend/node_modules/keycloak-js/dist/keycloak-authz.js
backend/node_modules/keycloak-js/dist/keycloak-authz.min.js
backend/node_modules/keycloak-js/dist/keycloak-authz.min.js.map
backend/node_modules/keycloak-js/dist/keycloak.d.ts
backend/node_modules/keycloak-js/dist/keycloak.js
backend/node_modules/keycloak-js/dist/keycloak.min.js
backend/node_modules/keycloak-js/dist/keycloak.min.js.map
